html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/tempLogo/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

